<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Link Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.0.2-dist/css/bootstrap.min.css') }}">
		<!-- Later in body, add JS if needed -->
		<title>The J Files</title>
	<style type="text/css">
	/* CSS styles here... */
	</style>
	</head>
	
	<body>
		{% block content %}
		<!-- Page-specific content goes here -->
		{% endblock %}
	<!-- Your content above -->
	<script src="{{ url_for('static', filename='bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js') }}"></script>
	<script>console.log(bootstrap.Tooltip.VERSION);</script>
</body>
	</body>
	
</html>
