{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h1 class="mb-4">The J Files: Josh's Operations Hub</h1>
      <p class="lead">
        The J Files — a growing collection of tools, dashboards, and systems
        built by a crusty old trucker. Everything here was made to be practical,
        efficient, and useful.
      </p>
      <p>
        Log in with your driver number. Same for the password. No excuses. If
        you're supposed to be here, you'll get in. If not — keep it moving.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 mt-5">
      <!-- First Button -->
      <div class="d-grid mb-3">
        <a href="{{ url_for('auth_bp.login') }}"
          ><button class="btn btn-primary" type="button">Log In</button></a
        >
      </div>

      <!-- Second Button -->
      <div class="d-grid">
        <a href="{{ url_for('auth_bp.register') }}"
          ><button class="btn btn-secondary" type="button">Register</button></a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
