{% extends 'base.html' %}
{% block content %}

<div class="accordion" id="sgAccordion">
  {% for report in sg_data %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ loop.index }}">
      <button class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse{{ loop.index }}"
              aria-expanded="false"
              aria-controls="collapse{{ loop.index }}">
        {{ report.start_date }}
      </button>
    </h2>
    <div id="collapse{{ loop.index }}"
         class="accordion-collapse collapse"
         aria-labelledby="heading{{ loop.index }}"
         data-bs-parent="#sgAccordion">
      <div class="accordion-body">
        {% for key, value in report.items() %}
        <div class="row py-1">
          <div class="col-5 fw-bold text-end">{{ key|replace('_',' ')|title }}:</div>
          <div class="col-7 text-start">{{ value }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
