<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- Link Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<!-- Later in body, add JS if needed -->
		<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
		<title>Pretrip</title>
	<style type="text/css">
	/* CSS styles here... */
	</style>
	</head>
	
	<body>
		{% block content %}
		<!-- Page-specific content goes here -->
		{% endblock %}
	
	</body>
	
</html>
